/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
} */
/* table{
    width: 10%;
    height: 10%;
    font-size: 30px;
} */

/* #Addcolumbtn{
    margin-left: 8%; */
/* } */
