*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    min-height: 100vh;
    width: 100%;
    color: rgb(218, 184, 184);
    background-color: rgb(156, 149, 149);
}


#searchInput{
    width: 30vw;
    height: 6vh;
}

#idInput{
    margin-top: 15px;
    width: 30vw;
    height: 6vh;
}

#submitBtn{
    width: 15vw;
    height: 6vh;
}